<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit User</title>
</head>
<body class="bg-light">
    <div class="container py-4">
        <h1 class="mb-4">Edit User</h1>
        <form action="{{ url_for('main.edit_user', user_id=user.id) }}" method="POST" class="needs-validation" novalidate>
            {{ form.csrf_token }}  <!-- CSRF Token -->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" class="form-control" required>
                    <option value="normal" {% if user.role == 'normal' %}selected{% endif %}>Normal</option>
                    <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="technical" {% if user.role == 'technical' %}selected{% endif %}>Technical</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update User</button>
            <a href="{{ url_for('main.manage_users') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>